@model IEnumerable<WebApplication2.Models.Publisher>

@{
    ViewBag.Title = "Index";
}

<h2>出版社</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PubName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PubName)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id=item.PubID }) |
            @Html.ActionLink("細節", "Details", new { id=item.PubID }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.PubID })
        </td>
    </tr>
}

</table>
