@model IEnumerable<WebApplication2.Models.Book>

<h3>精選書籍</h3>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("新增", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer.WriterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.PubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writer.WriterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.PubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) $ 
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                <a>
                    @Html.ActionLink("修改", "Edit", new { id = item.BookID }) |
                </a>
            }
            
            @Html.ActionLink("詳細", "Details", new { id=item.BookID })

            @if (User.IsInRole("admin"))
            {
                <a>
                    | @Html.ActionLink("刪除", "Delete", new { id = item.BookID })
                </a>
            }
        </td>
    </tr>
}
</table>
@{
    var pgNext = ViewBag.pageNo + 1;

    var pgPre = ViewBag.pageNo;
    if (ViewBag.pageNo > 0)
    {
        pgPre = ViewBag.pageNo - 1;
    }

}
<a href="/Home/Index/@pgPre">上一頁</a> | 
<a href="/Home/Index/@pgNext">下一頁</a>
