@model WebApplication2.Models.SUserRole

@{
    ViewBag.Title = "使用者群組管理";
}

<h2>細節</h2>

<div>
    <h4>使用者群組</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回使用者群組管理清單", "Index")
</p>
